@import "../variables";
@import "../lib/lib";
@import "header";

.parent-center {
    justify-content: center;
}

.action {
    text-align: right;

    a {
        color: $primary_color;
    }
}

.wrapper {
    justify-content: center;
    margin-top: 1vw;
    margin-left: 2vw;

    /* for some reason, spacing is -4... */
    letter-spacing: normal !important;

    legend {
        font-size: x-large;
    }

    table {
        /* by default, tables do not take full width */
        width: 100%;
        border: none;


        caption {
            /* remove default purecss style for table's captions */
            padding: 0;
            font-style: normal;
            text-align: left;

            font-size: x-large;
            font-weight: bold;
            color: #606c76;
            font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
        }

        thead {
            background-color: transparent;
        }

        tbody {
            font-weight: normal;

            td {
                border-bottom: none;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    header {
        height: 20vh;
    }

    div:first-of-type{
        flex-direction: column;
        justify-content: center !important;
        align-content: center;

        margin-top: $mobile_index_button_margin;
    }

    #questions_list_parent, #add_question {
        width: 80vw;
    }

    #publish_quiz, #add_question {
        font-size: small;
    }

    #publish_quiz {
        width: 100%;

        margin-top: 2vh !important;
        margin-bottom: 2vh;
    }

    #question_type {
        width: 100%;
    }
}
